.container {
  min-height: 100vh;
  overflow: hidden;
  background: #1e1e1e;
  color: #f0f0f0;
  box-shadow: 0 0 0 1px #333, 0 8px 24px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.loginTitle {
    color: rgb(244, 244, 244);
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 16px;
  color: white;
  border: 1px solid #3a3a3a;
  background: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.label {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 6px;
  color: #d1d5db;
}



.input,
.textarea {
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  flex: 1;
  color: white;
  border: 1px solid #3a3a3a;
  background: #2a2a2a;
  border-radius: 4px;
  transition: border 0.3s, background-color 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #2563eb;
  outline: none;
  background-color: #1e1e1e;
}

.button {
    margin-top: 20px;
  padding: 0.75rem 1.5rem;
    background: #2a2a2a;
    border: 1px solid #444;
    color: #f0f0f0;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease
}

.button:disabled {
  cursor:not-allowed;
}

.button:hover {
 background: #2563eb;
  color: #fff;}


.message {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #cbd5e1;
}

.token {
  margin-top: 10px;
  font-size: 12px;
  word-break: break-word;
  background-color: #f3f4f6;
  color: #1f2937;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}
