.container {
  min-height: 100vh;
  overflow: hidden;
  background: rgb(55, 6, 6);
  color: #f0f0f0;
  box-shadow: 0 0 0 1px #333, 0 8px 24px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.loginTitle {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    color: #2d2d2d;
    line-height: 0.9;
    text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.label {
  font-weight: 500;
  margin-top:20px;
  margin-bottom: 6px;
  color: #212121;
}



.input,
.textarea {
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  color: rgb(40, 40, 40);
  background: #ffffff;
  border: none;
  transition: border 0.3s, background-color 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #2563eb;
  outline: none;
  background: #f0f0f0;
}

.button {
    background: rgb(98, 14, 14);
    color: white;
    margin-top: 20px;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 19px;
    transition: 300ms;
    cursor: pointer;
}

.button:disabled {
  cursor:not-allowed;
}

.button:hover {
    background: rgb(50, 5, 5);
  color: #fff;}


.message {
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #1f1f1f;
}

.token {
  margin-top: 10px;
  font-size: 12px;
  word-break: break-word;
  background-color: #f3f4f6;
  color: #1f2937;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}